GH_SERVER = "github.com"
GH_TOKEN = ''
TEMP = "/home/ubuntu/jekyll-hook"
SECRET = ""

CONFIG_NGINX = True
NGINX_SCRIPT = ["./scripts/config-nginx.sh",]

SCRIPTS = {
    'jekyll': ["./scripts/git-fetch.sh", "./scripts/build-jekyll.sh", "./scripts/publish.sh"],
    'hugo': ["./scripts/git-fetch.sh", "./scripts/build-hugo.sh", "./scripts/publish.sh"],
    'static': ["./scripts/build-static.sh", "./scripts/publish-static.sh"],
}

ACCOUNTS = ["datamade"]

SENTRY_DSN = ''

